


#taskFormModal {
    background-color: rgba(0, 0, 0, 0.3);
}
#taskContainer {
    background-color: rgb(191, 164, 211);
}
ul{
    list-style-type: none;
    
    width: 100%;
}
li{
    padding: 10px;
    
    
   
}
.btn-violet{
    background-image: linear-gradient(to bottom,#8C52FF, #3a067e);
    opacity: 0.9;
    color: white;
}
.btn-violet:hover{
    background-image: linear-gradient(to bottom,#8C52FF, #3a067e);
    opacity: 1;
    color: white;
}
.btn-violet:focus{
    border: 1px solid #e4daf1;
}

.btn-secondary{
    background-image: linear-gradient(to bottom,#89878f, #3a067e);
    opacity: 0.9;
    color: white;
}
.btn-secondary:hover{
    background-image: linear-gradient(to bottom,#89878f, #3a067e);
    opacity: 1;
    color: white;
}


