


#taskFormModal {
    background-color: rgba(0, 0, 0, 0.3);
}
#taskContainer {
    background-color: rgb(191, 164, 211);
}
ul{
    list-style-type: none;
    
    width: 100%;
}
li{
    padding: 10px;
    
    
   
}

